#Terraform
infra/*.tfstate
infra/*.tfstate.*
infra/.terraform/
infra/.terraform.lock.hcl
infra/secrets.tfvars
infra/*.auto.tfvars
infra/crash.log
infra/crash.*.log

#Datos generados 
data-generation/output/
data-generation/db_config.yaml
#Python
__pycache__/
*.pyc
.venv/
venv/

#Sistema
.DS_Store
Thumbs.db

